.main-bathroom {
    width: calc(100% - 280px);
    padding: 97px 140px 17px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;

    padding-top: 218px !important;

    .main__breadcrumbs {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        position: absolute;
        left: 140px;
        top: 16px;

        a {
            color: #fff;
            transition: all 0.3s ease;

            &:hover {
                color: #d72024;
            }
        }
    }



    .bathroom-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 72px;

        strong {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
        }

        .bathroom-checkout {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 50%;

            .bathroom-header {
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;
                color: #FFFFFF;
                margin-bottom: 8px;
            }

            .bathroom-rating {
                display: flex;
                align-items: center;
                margin-bottom: 32px;

                &__container {
                    height: 16px;

                    svg {
                        height: 100%;
                        width: calc(100px);
                        transform: translateX(-42px);
                        overflow: visible;
                    }
                }

                &__score {
                    margin-left: 12px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                }

                &__amount {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #606A70;
                    margin-left: 5px;
                }
            }

            .bathroom-book {
                width: 100%;
                border-top: 1px solid #354054;
                padding-top: 32px;
                display: flex;
                justify-content: space-between;

                .book-column {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    width: 60%;

                    .js--hidden:checked+.book-option {
                        background: radial-gradient(135.89% 108.41% at 96.93% 46.23%, rgba(213, 37, 21, 0.3) 0%, rgba(228, 86, 73, 0) 100%);

                        transition: all 0.3s ease;
                    }

                    .book-option {

                        width: calc(100% - 40px);
                        padding: 23px 20px;
                        margin-bottom: 8px;
                        display: flex;
                        align-items: center;

                        justify-content: space-between;
                        background: radial-gradient(135.89% 108.41% at 96.93% 46.23%, rgba(212, 184, 156, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
                        backdrop-filter: blur(31.6089px);
                        border-radius: 10px;
                        transition: all 0.3s ease;

                        &__time {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #FFFFFF;
                            margin-right: 13px;
                        }

                        &__bar {
                            background-color: #E3EBEF4D;
                            height: 1px;
                            flex: auto;
                        }

                        &__price {
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                            color: #FFFFFF;
                            display: flex;
                            margin-left: 13px;

                            .currency {
                                margin-left: 5px;
                            }
                        }
                    }

                    .book-caption {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #919FA7;
                    }

                    .book-button {
                        background: linear-gradient(360deg, #D42515 0%, #E45649 100%);
                        box-shadow: 0px 4px 12px rgba(222, 77, 64, 0.4);
                        border-radius: 8px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        padding: 18px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        text-align: center;
                        color: #FFFFFF;
                        margin-top: 43px;
                        margin-bottom: 15px;
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    &__sale {
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #FFFFFF;

                        .sale-logo {
                            margin-right: 8px;
                            transition: all 0.3s ease;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .info-container {
                        display: flex;
                        align-items: center;

                        .logo {
                            margin-right: 12px;
                            transition: all 0.3s ease;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        .info-content {
                            &__subheader {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 17px;
                                color: #919FA7;
                            }

                            &__header {
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 20px;
                                color: #FFFFFF;
                                margin-top: 4px;
                            }

                            margin-bottom: 12px;
                        }

                    }

                    .info-caption {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #919FA7;
                    }

                    &:last-child {
                        width: fit-content;
                    }
                }
            }

        }

        .bathroom-fancybook {
            width: 45%;
            overflow: hidden;
            max-height: 543px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: start;

            .swiper-slide {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .swiper-pagination {
                height: 100px;
                position: static;
                margin-top: 16px;
                display: flex;
                align-items: center;

                .swiper-pagination-bullet {
                    height: 100%;
                    border-radius: 0;
                    width: auto;
                    flex: auto;
                }
            }

        }

        .container-header {
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            color: #FFFFFF;
            margin-bottom: 16px;
        }

        .header-bar {
            width: 100%;
            background: linear-gradient(90deg, #FF0004 0%, rgba(255, 0, 4, 0) 99.23%);
            height: 1px;
            margin-bottom: 28px;
        }

        .container-description {
            width: 45%;

            display: flex;
            flex-direction: column;
            align-items: start;

            .description {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                margin-bottom: 24px;
            }

            .caption {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #919FA7;
            }
        }

        .container-features {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: start;

            .features-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .feature-item {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                    position: relative;
                    width: calc(50% - 13px);
                    padding-left: 13px;

                    margin-bottom: 16px;

                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        bottom: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        width: 6px;
                        height: 6px;
                        background: #D42515;
                        left: -13px;
                        border-radius: 50%;
                    }
                }
            }
        }

        .feedback-container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .feedback-controls {
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 40%;
                margin-right: 64px;

                .feedback-add {
                    background: linear-gradient(360deg, #D42515 0%, #E45649 100%);
                    box-shadow: 0px 4px 12px rgba(222, 77, 64, 0.4);
                    border-radius: 8px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    padding: 18px 0;
                    width: 100%;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    color: #FFFFFF;
                    transition: all 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .feedback-info {
                    width: calc(100%);
                    display: flex;
                    align-items: center;
                    border: 1px solid #324355;
                    box-sizing: border-box;
                    border-radius: 8px;
                    padding: 12px;
                    margin-bottom: 24px;

                    svg {
                        width: 24px;
                        height: 24px;
                        margin-right: 4px;

                        use {
                            display: block;
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .feedback-score {
                        font-weight: 400;
                        font-size: 44px;
                        line-height: 34px;
                        color: #FFFFFF;
                    }

                    .feedback-amount {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #919FA7;
                        margin-left: 12px;
                        align-self: flex-end;
                    }
                }
            }

            .feedback-list {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;

                .feedback-item {
                    width: calc(100% - 48px);
                    padding: 24px;
                    background: radial-gradient(135.89% 108.41% at 96.93% 46.23%, rgba(212, 184, 156, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
                    backdrop-filter: blur(31.6089px);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    transition: all 0.3s ease;

                    &:hover {

                        background: radial-gradient(135.89% 108.41% at 96.93% 46.23%, rgba(213, 37, 21, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
                    }

                    &__info {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        margin-right: auto;
                        margin-right: 91px;
                    }

                    &__name {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                        margin-bottom: 4px;
                    }

                    &__date {
                        margin-bottom: 9px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #919FA7;
                    }

                    &__rating {
                        display: flex;

                        .amount {
                            margin-left: 90px;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 17px;
                            color: #FFFFFF;
                        }
                    }

                    &__caption {
                        margin-top: 10px;
                        color: #D42515;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                        display: flex;
                        justify-content: flex-start;
                        overflow: visible;
                    }

                    &__content {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                }

                .feedback-more {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #FFFFFF;
                    border: 1px solid #919FA7;
                    box-sizing: border-box;
                    border-radius: 8px;
                    width: 100%;
                    padding: 18px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.js--hidden {
    display: none !important;
}

.vertical {
    flex-direction: column !important;
}

use {

    &:nth-child(2) {
        transform: translate(20px);
    }

    &:nth-child(3) {
        transform: translate(40px);
    }

    &:nth-child(4) {
        transform: translate(60px);
    }

    &:nth-child(5) {
        transform: translate(80px);
    }
}