@media screen and (max-width: 1450px) {
    .main-cafe {
        padding: 0 100px 97px;
        padding-top: 218px !important;

        .cafe-description {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            position: absolute;
            right: 100px;
            top: 218px;
            width: 50%;
        }
    }
}