.footer {
    padding: 47px 140px 70px;
    width: calc(100% - 280px);
    background-color: #1a2f44;
    border-top: 1px solid #919fa7;
    display: flex;
    align-items: start;
    justify-content: space-between;

    .footer-logo {
        margin-right: 150px;
    }

    .footer-column {
        margin-right: 90px;
        display: flex;
        flex-direction: column;
        align-items: start;

        .footer-header {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            margin-bottom: 12px;
        }

        .footer-link {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #fff;
            margin-bottom: 12px;
            transition: all 0.3s ease;

            &:hover {
                color: #d42515;
            }

            &--bold {
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #ffffff;
                margin-bottom: 24px;
                transition: all 0.3s ease;

                &:hover {
                    color: #d42515;
                }
            }
        }

        &:last-child {
            margin-right: 150px;
        }
    }

    .footer-container {
        display: flex;
        align-items: start;
        flex-direction: column;

        .footer-contacts {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 36px;

            a {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #ffffff;
                margin-bottom: 12px;
                transition: all 0.3s ease;

                &:hover {
                    color: #d42515;
                }
            }
        }

        .footer-adresses {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 40px;

            .footer-adress {
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #ffffff;
                transition: all 0.3s ease;

                &:hover {
                    color: #d42515;
                    cursor: pointer;
                }
            }
        }

        .footer-button {
            box-sizing: border-box;
            margin-bottom: 32px;
            transition: all 0.3s ease;
            background: linear-gradient(360deg, #d42515 0%, #e45649 100%);
            box-shadow: 0px 4px 12px rgba(222, 77, 64, 0.4);
            border-radius: 8px;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            padding: 18px 60px;
            color: #ffffff;

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        .footer-socials {
            display: flex;
            align-items: center;

            .social {
                width: 44px;
                height: 44px;
                background-color: rgba($color: #fff, $alpha: 0.1);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 12px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #d42515;
                    cursor: pointer;
                }
            }
        }

        &__header {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #919fa7;
            margin-bottom: 8px;
        }
    }
}

.footer-line {
    padding: 0px 140px 20px;
    width: calc(100% - 280px);
    display: flex;
    justify-content: space-between;
    background-color: #1a2f44;

    .company-name,
    .company-developer {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #919fa7;
        transition: all 0.3s ease;

        &:hover {
            color: #d42515;
            cursor: pointer;
        }
    }
}

.entry-title {
    display: none !important;
}

.entry-title {
    display: none !important;
}

// FORM SECTION ===================
.dark-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000, $alpha: 0.5);
}

.apply-form {
    width: 599px;
    height: 461px;
    background: #1A2F44;
    box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 48px;
    position: relative;

    .form-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 22.75px;
        height: 22.75px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {

            .cross-one,
            .cross-two {
                background-color: #d42515;
            }
        }

        .cross-one,
        .cross-two {
            display: block;
            background-color: #c2c2c2;
            width: 22.75px;
            height: 2px;
            transition: all 0.3s ease;
        }

        .cross-one {
            position: absolute;
            transform: rotate(45deg);
        }

        .cross-two {
            position: absolute;
            transform: rotate(-45deg);
        }
    }

    .form-header {

        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    label {
        width: 100%;
        position: relative;
        color: #49555B;
    }

    .form-input {
        width: calc(100%);
        padding: 18px;
        background: #1A2F44;
        border: 1px solid #49555B;
        box-sizing: border-box;
        border-radius: 8px;

        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        margin-bottom: 24px;
        position: relative;
        outline: none;

        &::placeholder {

            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #fff;
        }

        &:focus {

            border: 1px solid #d42515;
        }

        &--warning {
            border: 1px solid #cc0000;
            color: #f00;
        }


    }

    .form-textarea {
        height: 120px;
        width: calc(100%);
        padding: 18px;
        background: #1A2F44;
        border: 1px solid #49555B;
        box-sizing: border-box;
        border-radius: 8px;

        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        margin-bottom: 24px;
        position: relative;
        outline: none;

        &:focus {

            border: 1px solid #d42515;
        }
    }

    .form-caption {

        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: #8e8e8e;
        max-width: 325px;
    }
}

.applied-screen {
    background: #1A2F44;
    box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    padding: 48px;

    .form-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 22.75px;
        height: 22.75px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {

            .cross-one,
            .cross-two {
                background-color: #d42515;
            }
        }

        .cross-one,
        .cross-two {
            display: block;
            background-color: #c2c2c2;
            width: 22.75px;
            height: 2px;

            transition: all 0.3s ease;
        }

        .cross-one {
            position: absolute;
            transform: rotate(45deg);
        }

        .cross-two {
            position: absolute;
            transform: rotate(-45deg);
        }
    }

    .applied-icon {
        margin-bottom: 24px;
        width: 72px;
        height: 72px;
    }

    .applied-header {

        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        margin-bottom: 12px;
    }

    .applied-subheader {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;

    }
}

.form-button {
    background: linear-gradient(360deg, #D42515 0%, #E45649 100%);
    box-shadow: 0px 4px 12px rgba(222, 77, 64, 0.4);
    border-radius: 8px;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

// =================== FORM SECTION
// TEMPLATE STYLES SECTION ===================
.empty--input::after {
    content: "Поле обязательно";

    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #f00;
    position: absolute;
    bottom: 8px;
    left: 0;
    display: block;
}