@media screen and (max-width: 1450px) {
    .footer {
        padding: 47px 100px 70px;
        width: calc(100% - 200px);
    }
    .footer-line {
        padding: 0px 100px 20px;
        width: calc(100% - 200px);
    }
}