@media screen and (max-width: 1450px) {
    .main-services {
        width: calc(100% - 200px);
        padding: 97px 100px;

        .breadcrumbs {
            position: absolute;
            left: 100px;
            top: 16px;
        }

        .section {
            .swiper {
                width: 100%;
                overflow: hidden;

                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .worker-image {
                        width: 100%;
                        max-width: 256px;
                        max-height: 256px;
                        padding: 8px;
                        border-radius: 50%;
                        border: 6px solid #919fa7;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}