@media screen and (max-width: 1450px) {
    .main-staff {
        width: calc(100% - 200px);
        padding: 97px 100px;
        padding-top: 218px;

        .breadcrumbs {
            position: absolute;
            left: 100px;
            top: 16px;
        }
    }
}