doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="./style.min.css")
        title Услуга
    body 
        include ./header.pug
        main.main.main-service
            .main__breadcrumbs Главная / Статьи / Мы вошли в ТОП-10 бань Екатеринбурга
            .main__container
                .container__service-name.article-container 
                    .row
                        .name-container
                            .service-data 12 ноября 2021
                            .service-header Мы вошли в ТОП-10 бань Екатеринбурга
                            .container-bar 
                        
                .container__description
                    .description-content.low-margin Полезный эффект, который оказывает процедура парения на организм человека, сложно переоценить. Одно посещение бани или сауны и польза, которую оно принесет, заменят визит к докторам. В бане тело и душа отдыхают, выводятся токсины, шлаки, укрепляется иммунитет и нервная система. Баня – это здоровье и красота. В бане улучшается обмен веществ и кровообращение, раскрываются поры кожи, она очищается, и выглядит моложе.
                    .description-content.low-margin Если вы знаете, как париться в бане с веником, то заход в парилку принесет вам еще больше пользы. С помощью веника происходит очищение кожи, массаж, оказывается дренажный эффект. Как правило, веники изготавливаются из веток деревьев, которые содержат наибольшее количество полезных для человека веществ – дуб, береза, хвойные породы. 
        include ./footer.pug