footer.footer
    .footer-logo 
        img(src="./assets/images/content/logo_footer.svg", alt="footer logo")
    .footer-column 
        .footer-header БАНИ
        a(href="#").footer-link Уральская
        a(href="#").footer-link Охотничья
        a(href="#").footer-link Ямская
        a(href="#").footer-link Рыбацкая
        a(href="#").footer-link Раздольная
        a(href="#").footer-link Семейная
        a(href="#").footer-link Сибирская
        a(href="#").footer-link Лесная
        a(href="#").footer-link Хуторок
    .footer-column
        .footer-header УСЛУГИ
        a(href="#").footer-link Парение
        a(href="#").footer-link Массаж
        a(href="#").footer-link SPA - программы
        a(href="#").footer-link Специалисты
    .footer-column 
        a(href="#").footer-link--bold КАФЕ
        a(href="./articles.html", target="_blank").footer-link--bold PRO БАНЮ
        a(href="#").footer-link--bold ТОВАРЫ
        a(href="#").footer-link--bold ОТЗЫВЫ
        a(href="#").footer-link--bold КОНТАКТЫ
    .footer-container 
        .footer-contacts 
            .footer-container__header Телефон
            a(href="tel:#") + 7 343 223 20 23
            a(href="tel:#") + 7 343 223 20 23
        .footer-adresses 
            .footer-container__header Адреса
            .footer-adress г. Екатеринбург, ул. Летняя, 20
        .footer-button Забронировать
        .footer-socials 
            .social 
                img(src="./assets/images/content/instagram.svg", alt="instgram")
            .social 
                img(src="./assets/images/content/vk.svg", alt="vk")
            .social 
                img(src="./assets/images/content/whatapp.svg", alt="vk")
.footer-line 
    .company-name © 2022 Загородный клуб “Паровоз”
    a(href="https://yurin.biz", target="_blank").company-developer Сделано в Студии Юрина