header.header
    .header__logo 
        img(src="./assets/images/content/logo_header.svg", alt="")
    .header__navigation 
        a(href="").navigation-link Главная
        .navigation-link.complex-link Бани
            .navigation-box 
                a.navigation-box__link(href="") Уральская
                a.navigation-box__link(href="") Охотничья
                a.navigation-box__link(href="") Ямская
                a.navigation-box__link(href="") Рыбацкая
                a.navigation-box__link(href="") Раздольная
                a.navigation-box__link(href="") Семейная
                a.navigation-box__link(href="") Сибирская
                a.navigation-box__link(href="") Лесная
                a.navigation-box__link(href="") Хуторок
        a(href="").navigation-link Услуги
        a(href="").navigation-link Кафе
        a(href="").navigation-link PRO баню
        a(href="").navigation-link Товары
        a(href="").navigation-link Контакты
    a(href="./cart.html").header__book
        img(src="./assets/images/content/cart_image.svg", alt="")   
        .book-header Мое бронирование
        span.book-counter 2

