doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="./style.min.css")
        title Услуга
    body 
        include ./header.pug
        main.main.main-service
            .main__breadcrumbs 
            .main__container
                .container__service-name 
                    .name-container
                        .service-header Авторское парение “Стандарт”
                        .container-bar 
                    .service-data-container 
                        .service-data__price-container 
                            .price-tag 5 800
                            .price-currency ₽/
                            .price-time час
                        .service-data__book-btn.apply-btn Забронировать
                .container__description
                    .description-header 
                    .description-content 
                    .description__information-container 
                        .information-container__column 
                            .information-container__logo 
                            .information-container__text-info 
                                .information-container__header Реквизит
                                ul.information-container__list
                                    li.information-container__item  Пихтовый х 2
                                    li.information-container__item Березовый х 2
                                    li.information-container__item Дубовый х 2
                                    li.information-container__item Эквалипт х 2
                        .information-container__column 
                            .information-container__logo 
                            .information-container__text-info 
                                .information-container__header Мастер
                                ul.information-container__list
                                    li.information-container__item 1 мастер
                        .information-container__column 
                            .information-container__logo 
                            .information-container__text-info 
                                .information-container__header Время процедуры
                                ul.information-container__list
                                    li.information-container__item 30 мин


            
        include ./footer.pug