html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="./style.min.css")
        title Услуги
    body.staff-body 
        include ./header.pug
        main.main.main-services
            .breadcrumbs Главная / Услуги 
            .header-container
                .header Услуги
                .header-bar
            .section 
                .section__header-container 
                    .header Парение
                    .amount 9 услуг
                .service-container
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                        
                    
            .section 
                .section__header-container 
                    .header Массаж
                    .amount 5 услуг
                .service-container
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    
            .section 
                .section__header-container 
                    .header SPA-программа
                    .amount 2 услуги
                .service-container 
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
                    .container-card
                        .card-image(style="background: url(./assets/images/content/article_bg1.png)") 
                        .card-container 
                            .card-name Авторское парение
                            .card-time 
                                .card-time__image 
                                    img(src="./assets/images/content/services_time.svg")
                                .card-time__value 30 мин
                            .card-description 
                                .description__container
                                    .description__logo 
                                        img(src="./assets/images/content/services_stuff.svg")
                                    .description__list 
                                        .description__item 1 мастер
                                .description__container 
                                    .description__logo 
                                        img(src="./assets/images/content/services_equip.svg")
                                    .description__list 
                                        .description__item Пихтовый х 2
                                        .description__item Березовый х 2
                                        .description__item Дубовый х 2
                                        .description__item Эквалипт х 2
                            .card-info 
                                .service-price 
                                    .price-value 5 800 
                                    .prive-currency ₽
                                .service-book Забронировать
            .section 
                .header-container
                    .header Услуги
                    .header-bar    
                .swiper#workerSwiper 
                    .swiper-wrapper 
                        .swiper-slide 
                            .worker-image
                                img(src="./assets/images/content/staff.png", alt="") 
                            .worker-name Сергей
                            .worker-job Баньщик
                            .worker-description Отличный специалист, хороший результат после сеансов.
                        .swiper-slide 
                            .worker-image
                                img(src="./assets/images/content/stuff2.png", alt="") 
                            .worker-name Сергей
                            .worker-job Баньщик
                            .worker-description Отличный специалист, хороший результат после сеансов.
                        .swiper-slide 
                            .worker-image
                                img(src="./assets/images/content/stuff1.png", alt="") 
                            .worker-name Сергей
                            .worker-job Баньщик
                            .worker-description Отличный специалист, хороший результат после сеансов.
                        .swiper-slide 
                            .worker-image
                                img(src="./assets/images/content/staff.png", alt="") 
                            .worker-name Сергей
                            .worker-job Баньщик
                            .worker-description Отличный специалист, хороший результат после сеансов.


        include ./footer.pug

        script(src="./assets/js/jquery.min.js")
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js")